*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    width:350px;
    border-radius:10px;
}

h1{
    text-align:center;
    margin-bottom:20px;
    color:#333;
}

label{
        display:block;
         margin-top:15px;
        margin-bottom:5px;
}

input{
    width:100%;
    padding:10px;
    border:1px solid #692525;
    border-radius:5px;
}

button{
    width:100%;
    padding:10px;
    margin-top:15px;
    border:none;
    border-radius:5px;
    background:#333;
    color:white;
    cursor:pointer;
}

.reset-btn{
    background:#9a5d5d;
}

.result{
    margin-top:10px;
    text-align:center;
}

.result h2{
    color:#2e7d32;
    margin-top:10px;
}